.button {
  background-color: green; 
  border-radius: 0.5em;
  color: black;
  padding: 0.8em 1.5em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.1em;
}

.button:hover {
  background-color: lightgreen;
}

.button a{
  color: black;
  text-decoration: none;
}

.navigation {
  background-color: brown;
  position: fixed;
  top: 4em;
  right: 0;
  padding-bottom: 2em;
  padding-left: 1em;
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
}

.nav_item {
  color: black;
  text-align: center;
  font-size: 1.1em;
  font-weight: bold;
  padding: 1em;
  border-radius: 0.5em;
}

.nav_item:hover {
  background-color: crimson;
}

.nav_item a{
  color: white;
  text-decoration: none;
}
